# Time Series Project

## Business Understanding 

This project is a a regression project on time series data. A store in Ecuador, Favorita wants to be able to make prediction on sales based on all important factors across all its stores. 
This requires preparing existing data into format that enables us to create a good model to make good predictions in the future. It also requires an analysis to get clarity on some features of the data gathered and how they come together to influence outcomes.

## Data Understanding

### Questions 

1. How are the clusters performing against each other? 
2. What family brings in the most money across all stores?
3. Which locales are the busiest in terms of transactions?
4. In which year did most of the transactions happen?
5. How have sales been over the years?
6. What are the dates of the top 10 sales?
7. What were the dates of the highest sales for each year?
8. How many transactions happen in the christmas period(20th - 31st December) each year?

### Hypothesis 

#### Null: Oil prices do not have an effect on sales 
#### Alternate: Oil prices have an effect on sales

### Data Handling 
### Import necessary libraries

In [1]:
# Data Handling
import pandas as pd 
import numpy as np 

# Visualization
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.dates as mdates
import mplcursors
import seaborn as sns

# Encoding
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder


from sklearn.model_selection import train_test_split
# Modeling
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import SGDRegressor
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, mean_squared_log_error

### Load Data

In [2]:
train = pd.read_csv("train.csv")
transactions = pd.read_csv("transactions.csv")
holiday = pd.read_csv("holiday.csv")
oil  = pd.read_csv("oil.csv")
stores = pd.read_csv("stores.csv")
test = pd.read_excel('test.xlsx')

### Get an overview of the data frames

In [3]:
# train dataframe
train.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [4]:
# transactions dataframe
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

### Train Dataframe

- The training data contains information about dates, store numbers, product families, promotions, and sales figures. 
- The data shows sales and time series data for the features store_nbr, family, and onpromotion.
- The store_nbr feature indicates the specific location where the goods are sold by the retailer. 
- The family feature describes the category of goods being sold. 
- The sales column provides the total sales for a particular product family at a specific retailer on a given day. - - - Sales can involve fractional units so decimal values are possible. 
- The onpromotion column indicates the total number of promoted products within a family at a specific store on a specific date.

In [5]:
# holiday dataframe 
holiday.head()

,date,type,locale,locale_name,description,transferred
0,2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
1,2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False
2,2012-04-12,Holiday,Local,Cuenca,Fundacion de Cuenca,False
3,2012-04-14,Holiday,Local,Libertad,Cantonizacion de Libertad,False
4,2012-04-21,Holiday,Local,Riobamba,Cantonizacion de Riobamba,False

### Holiday Dataframe 

- Shows events and holidays, their descriptions and whether or not it's transferred

In [6]:
# oil dataframe 
oil.head()

         date  dcoilwtico
0  2013-01-01         NaN
1  2013-01-02   93.139999
2  2013-01-03   92.970001
3  2013-01-04   93.120003
4  2013-01-07   93.199997

### Oil Dataframe 
- Oil prices play a crucial role in how things are purchased in Ecuador
- This dataframe shows the oil prices per barrel based on dates

In [7]:
# stores dataframe 
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

### Stores Dataframe 
- Keeps information on various stores 
- Contains information such as store type, city, cluster and state the store is located 
- Cluster refers to a grouping of related stores

In [8]:
test.head()

        id       date  store_nbr      family  onpromotion
0  3000888 2017-08-16          1  AUTOMOTIVE            0
1  3000889 2017-08-16          1   BABY CARE            0
2  3000890 2017-08-16          1      BEAUTY            2
3  3000891 2017-08-16          1   BEVERAGES           20
4  3000892 2017-08-16          1       BOOKS            0

### Test Dataframe
- Contains same information as train dataframe
- Contains information that will be used to test the model yet to be trained

## Understand the features/columns of the dataframes

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000888 entries, 0 to 3000887
Data columns (total 6 columns):
 #   Column       Dtype
---  ------       -----
 0   id           int64
 1   date         object
 2   store_nbr    int64
 3   family       object
 4   sales        float64
 5   onpromotion  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 137.4+ MB

In [10]:
# Change date column to date time 
train['date'] = pd.to_datetime(train['date'])

In [11]:
train.dtypes

id                      int64
date           datetime64[ns]
store_nbr               int64
family                 object
sales                 float64
onpromotion             int64
dtype: object

In [12]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83488 entries, 0 to 83487
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          83488 non-null  object
 1   store_nbr     83488 non-null  int64
 2   transactions  83488 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.9+ MB

In [13]:
# Change date column to date time 
transactions['date'] = pd.to_datetime(transactions['date'])

In [14]:
transactions.dtypes

date            datetime64[ns]
store_nbr                int64
transactions             int64
dtype: object

In [15]:
holiday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         350 non-null    object
 1   type         350 non-null    object
 2   locale       350 non-null    object
 3   locale_name  350 non-null    object
 4   description  350 non-null    object
 5   transferred  350 non-null    bool
dtypes: bool(1), object(5)
memory usage: 14.1+ KB

In [16]:
# Change date column to date time 
holiday['date'] = pd.to_datetime(holiday['date'])

In [17]:
holiday.dtypes

date           datetime64[ns]
type                   object
locale                 object
locale_name            object
description            object
transferred              bool
dtype: object

In [18]:
oil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1218 non-null   object
 1   dcoilwtico  1175 non-null   float64
dtypes: float64(1), object(1)
memory usage: 19.2+ KB

In [19]:
# Change date column to date time 
oil['date'] = pd.to_datetime(oil['date'])

In [20]:
oil.dtypes

date          datetime64[ns]
dcoilwtico           float64
dtype: object

In [21]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   store_nbr  54 non-null     int64
 1   city       54 non-null     object
 2   state      54 non-null     object
 3   type       54 non-null     object
 4   cluster    54 non-null     int64
dtypes: int64(2), object(3)
memory usage: 2.2+ KB

In [22]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28512 entries, 0 to 28511
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           28512 non-null  int64
 1   date         28512 non-null  datetime64[ns]
 2   store_nbr    28512 non-null  int64
 3   family       28512 non-null  object
 4   onpromotion  28512 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 1.1+ MB

In [23]:
# Change date column to date time 
test['date'] = pd.to_datetime(test['date'])

In [24]:
test.dtypes

id                      int64
date           datetime64[ns]
store_nbr               int64
family                 object
onpromotion             int64
dtype: object

### Check for the shape of all dataframes

In [25]:
train.shape

(3000888, 6)

In [26]:
transactions.shape

(83488, 3)

In [27]:
holiday.shape

(350, 6)

In [28]:
oil.shape

(1218, 2)

In [29]:
stores.shape

(54, 5)

In [30]:
test.shape

(28512, 5)

## Data Preparation

### Check for missing values

In [31]:
train.isna().sum()

id             0
date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64

In [32]:
transactions.isna().sum()

date            0
store_nbr       0
transactions    0
dtype: int64

In [33]:
holiday.isna().sum()

date           0
type           0
locale         0
locale_name    0
description    0
transferred    0
dtype: int64

In [34]:
oil.isna().sum()

date           0
dcoilwtico    43
dtype: int64

In [35]:
# look at the numeric values in oil df
oil.describe()

        dcoilwtico
count  1175.000000
mean     67.714366
std      25.630476
min      26.190001
25%      46.405001
50%      53.189999
75%      95.660000
max     110.620003

In [36]:
oil['dcoilwtico']

0             NaN
1       93.139999
2       92.970001
3       93.120003
4       93.199997
          ...
1213    47.650002
1214    46.400002
1215    46.459999
1216    45.959999
1217    47.259998
Name: dcoilwtico, Length: 1218, dtype: float64

The missing values in the oil dataframe have to be filled. Since the range between minimum and maximum values is very large and the values progress or decrease steadily it will be good to use the forward fill technique

In [37]:
oil['dcoilwtico'].unique()

array([         nan,  93.13999939,  92.97000122,  93.12000275,
        93.19999695,  93.20999908,  93.08000183,  93.80999756,
        93.59999847,  94.26999664,  93.26000214,  94.27999878,
        95.48999786,  95.61000061,  96.08999634,  95.05999756,
        95.34999847,  95.15000153,  95.94999695,  97.62000275,
        97.98000336,  97.65000153,  97.45999908,  96.20999908,
        96.68000031,  96.44000244,  95.83999634,  95.70999908,
        97.01000214,  97.48000336,  97.02999878,  97.30000305,
        96.69000244,  94.91999817,  92.79000092,  92.73999786,
        92.62999725,  92.83999634,  92.02999878,  90.70999908,
        90.12999725,  90.87999725,  90.47000122,  91.52999878,
        92.01000214,  92.06999969,  92.44000244,  92.47000122,
        93.02999878,  93.48999786,  93.70999908,  92.45999908,
        93.41000366,  94.55000305,  95.98999786,  96.52999878,
        97.23999786,  97.09999847,  97.23000336,  95.01999664,
        92.76000214,  93.36000061,  94.18000031,  94.58999634,
        93.44000244,  91.23000336,  88.75      ,  88.73000336,
        86.65000153,  87.83000183,  88.04000092,  88.80999756,
        89.20999908,  91.06999969,  93.26999664,  94.08999634,
        93.22000122,  90.73999786,  93.69999695,  95.25      ,
        95.80000305,  95.27999878,  96.23999786,  95.80999756,
        94.76000214,  93.95999908,  93.94999695,  94.84999847,
        95.72000122,  96.29000092,  95.55000305,  93.98000336,
        94.12000275,  93.83999634,  94.65000153,  93.12999725,
        93.56999969,  91.93000031,  93.66000366,  94.70999908,
        96.11000061,  95.81999969,  95.5       ,  95.98000336,
        96.66000366,  97.83000183,  97.86000061,  98.45999908,
        98.23999786,  94.88999939,  95.06999969,  95.47000122,
        97.        ,  96.36000061,  97.94000244,  99.65000153,
       101.91999817, 103.08999634, 103.02999878, 103.45999908,
       106.41000366, 104.76999664, 105.84999847, 106.19999695,
       105.87999725, 106.38999939, 107.94000244, 108.        ,
       106.61000061, 107.12999725, 105.41000366, 105.47000122,
       104.76000214, 104.61000061, 103.13999939, 105.09999847,
       107.93000031, 106.94000244, 105.31999969, 104.41000366,
       103.44999695, 106.04000092, 106.19000244, 106.77999878,
       106.88999939, 107.43000031, 107.58000183, 107.13999939,
       104.90000153, 103.93000031, 104.93000031, 106.48000336,
       109.11000061, 110.16999817, 108.51000214, 107.98000336,
       108.66999817, 107.29000092, 108.5       , 110.62000275,
       109.62000275, 107.48000336, 107.65000153, 108.72000122,
       108.30999756, 106.54000092, 105.36000061, 108.23000336,
       106.26000214, 104.69999695, 103.62000275, 103.22000122,
       102.68000031, 103.09999847, 102.86000061, 102.36000061,
       102.08999634, 104.15000153, 103.29000092, 103.83000183,
       103.06999969, 103.54000092, 101.62999725, 103.08000183,
       102.16999817, 102.45999908, 101.15000153, 102.33999634,
       100.72000122, 100.87000275,  99.27999878,  97.62999725,
        96.90000153,  96.65000153,  97.40000153,  98.73999786,
        98.29000092,  96.80999756,  94.55999756,  94.58000183,
        93.40000153,  94.73999786,  94.25      ,  95.12999725,
        93.91000366,  93.76000214,  93.80000305,  93.34999847,
        93.33999634,  94.52999878,  93.86000061,  92.05000305,
        92.55000305,  93.61000061,  95.83000183,  96.97000122,
        97.13999939,  98.31999969,  97.25      ,  97.20999908,
        96.26999664,  97.18000031,  96.98999786,  97.58999634,
        98.40000153,  99.11000061,  98.62000275,  98.87000275,
        99.18000031,  99.94000244,  98.90000153,  98.16999817,
        95.13999939,  93.30999756,  91.90000153,  91.36000061,
        92.38999939,  91.44999695,  92.15000153,  93.77999878,
        93.54000092,  94.51000214,  96.34999847,  97.48999786,
        97.33999634,  98.25      ,  97.55000305,  97.83999634,
        99.98000336, 100.12000275,  99.95999908, 100.37999725,
       100.26999664, 100.30999756, 102.54000092, 103.19999695,
       102.52999878, 103.16999817, 102.19999695, 102.93000031,
       102.87999725, 105.33999634, 103.63999939, 101.75      ,
       101.81999969, 102.81999969, 101.38999939, 100.29000092,
        98.56999969,  99.23000336,  98.43000031, 100.08000183,
       100.70999908,  99.68000031,  99.97000122, 100.05000305,
        99.66000366, 100.61000061, 101.25      , 101.73000336,
       101.56999969,  99.69000244,  99.59999847, 101.16000366,
       100.43000031, 102.56999969, 103.55000305, 103.37000275,
       103.68000031, 104.05000305, 103.69999695, 103.70999908,
       104.33000183, 104.34999847, 101.69000244, 101.47000122,
       100.84999847, 101.12999725, 101.55999756, 100.06999969,
       100.08999634,  99.73999786,  99.80999756, 101.05999756,
       100.51999664, 100.31999969, 100.88999939, 102.01000214,
       102.62999725, 101.73999786, 102.30999756, 102.94999695,
       102.80000305, 104.30999756, 104.02999878, 105.01000214,
       104.77999878, 104.26000214, 103.40000153, 103.33999634,
       103.26999664, 103.31999969, 105.08999634, 105.01999664,
       105.04000092, 107.19999695, 107.48999786, 107.51999664,
       106.94999695, 106.63999939, 107.08000183, 107.94999695,
       106.83000183, 107.04000092, 106.48999786, 106.45999908,
       106.06999969, 106.05999756, 105.18000031, 104.19000244,
       104.05999756, 103.61000061, 101.48000336, 100.55999756,
       101.87999725, 103.83999634, 104.58999634, 103.80999756,
       102.76000214, 105.23000336, 105.68000031, 104.91000366,
       104.29000092,  98.23000336,  98.26000214,  96.93000031,
        97.61000061,  98.08999634,  97.36000061,  97.56999969,
        95.54000092,  94.34999847,  96.40000153,  93.97000122,
        95.38999939,  95.77999878,  92.91999817,  93.31999969,
        92.63999939,  92.73000336,  91.70999908,  92.88999939,
        92.18000031,  92.86000061,  94.91000366,  94.33000183,
        93.06999969,  92.43000031,  91.45999908,  91.55000305,
        93.58999634,  91.16999817,  91.01999664,  89.76000214,
        90.33000183,  88.88999939,  87.29000092,  85.76000214,
        85.87000275,  85.73000336,  81.72000122,  81.81999969,
        82.33000183,  82.80000305,  82.76000214,  83.25      ,
        80.51999664,  82.80999756,  81.26999664,  81.26000214,
        81.36000061,  82.25      ,  81.05999756,  80.52999878,
        78.76999664,  77.15000153,  78.70999908,  77.87000275,
        77.43000031,  77.84999847,  77.16000366,  74.12999725,
        75.91000366,  75.63999939,  74.55000305,  75.62999725,
        76.51999664,  75.73999786,  74.04000092,  73.69999695,
        65.94000244,  68.98000336,  66.98999786,  67.30000305,
        66.73000336,  65.88999939,  63.13000107,  63.74000168,
        60.99000168,  60.00999832,  57.81000137,  55.95999908,
        55.97000122,  56.43000031,  54.18000031,  56.90999985,
        55.25      ,  56.77999878,  55.70000076,  54.59000015,
        53.45999908,  54.13999939,  53.45000076,  52.72000122,
        50.04999924,  47.97999954,  48.68999863,  48.79999924,
        48.34999847,  46.06000137,  45.91999817,  48.49000168,
        46.36999893,  46.79000092,  47.84999847,  45.93000031,
        45.25999832,  44.79999924,  45.84000015,  44.08000183,
        44.11999893,  47.79000092,  49.25      ,  53.04000092,
        48.45000076,  50.47999954,  51.65999985,  52.99000168,
        50.06000137,  51.16999817,  52.65999985,  53.56000137,
        52.13000107,  51.11999893,  49.95000076,  49.56000137,
        48.47999954,  50.25      ,  47.65000153,  49.84000015,
        49.59000015,  50.43000031,  51.52999878,  50.75999832,
        49.61000061,  48.41999817,  48.06000137,  47.11999893,
        44.88000107,  43.93000031,  43.38999939,  44.63000107,
        44.02000046,  46.        ,  47.40000153,  47.02999878,
        48.75      ,  51.40999985,  48.83000183,  48.65999985,
        47.72000122,  50.11999893,  49.13000107,  52.08000183,
        53.95000076,  50.43999863,  50.79000092,  51.63000107,
        51.95000076,  53.29999924,  56.25      ,  56.68999863,
        55.70999908,  56.36999893,  55.58000183,  56.16999817,
        56.59000015,  55.97999954,  55.56000137,  57.04999924,
        58.54999924,  59.61999893,  59.09999847,  58.91999817,
        60.38000107,  60.93000031,  58.99000168,  59.40999985,
        59.22999954,  60.72000122,  60.5       ,  59.88999939,
        59.72999954,  59.43999863,  57.29999924,  58.95999908,
        60.18000031,  58.88000107,  57.29000092,  57.50999832,
        57.68999863,  60.25      ,  60.24000168,  61.29999924,
        59.66999817,  58.        ,  59.11000061,  58.15000153,
        60.15000153,  61.36000061,  60.74000168,  59.95999908,
        59.52999878,  60.40999985,  61.04999924,  59.59000015,
        58.34000015,  59.47999954,  56.93999863,  56.93000031,
        52.47999954,  52.33000183,  51.61000061,  52.75999832,
        52.74000168,  52.18999863,  53.04999924,  51.40000153,
        50.90000153,  50.88000107,  50.11000061,  50.59000015,
        49.27000046,  48.11000061,  47.16999817,  47.97000122,
        48.77000046,  48.52999878,  47.11000061,  45.25      ,
        45.75      ,  45.13000107,  44.68999863,  43.86999893,
        44.93999863,  43.11000061,  43.22000122,  42.27000046,
        42.45000076,  41.93000031,  42.58000183,  40.75      ,
        41.        ,  40.45000076,  38.22000122,  39.15000153,
        38.5       ,  42.47000122,  45.29000092,  49.20000076,
        45.38000107,  46.29999924,  46.75      ,  46.02000046,
        44.13000107,  45.84999847,  44.75      ,  44.06999969,
        44.58000183,  46.93000031,  44.70999908,  46.66999817,
        46.16999817,  44.52999878,  45.54999924,  44.40000153,
        45.24000168,  45.06000137,  45.54000092,  46.27999878,
        47.86000061,  49.45999908,  49.66999817,  47.09000015,
        46.70000076,  46.63000107,  46.38000107,  47.29999924,
        45.90999985,  45.22000122,  44.90000153,  43.90999985,
        43.18999863,  43.20999908,  46.59999847,  46.11999893,
        47.88000107,  46.31999969,  45.27000046,  44.31999969,
        44.22999954,  42.95000076,  41.74000168,  40.68999863,
        41.68000031,  40.72999954,  40.54999924,  39.38999939,
        39.27000046,  40.88999939,  41.22000122,  40.56999969,
        40.43000031,  40.58000183,  39.93000031,  41.08000183,
        40.        ,  37.63999939,  37.45999908,  37.15999985,
        36.75999832,  35.65000153,  36.31000137,  37.31999969,
        35.54999924,  34.97999954,  34.72000122,  34.54999924,
        36.11999893,  37.61999893,  36.36000061,  37.88000107,
        36.59000015,  37.13000107,  36.81000137,  35.97000122,
        33.97000122,  33.29000092,  33.20000076,  31.42000008,
        30.42000008,  31.21999931,  29.45000076,  28.46999931,
        26.68000031,  29.54999924,  32.06999969,  30.30999947,
        29.54000092,  32.31999969,  33.20999908,  33.65999985,
        31.62000084,  29.89999962,  32.29000092,  31.62999916,
        30.86000061,  29.70999908,  27.95999908,  27.54000092,
        26.19000053,  29.31999969,  29.04999924,  30.68000031,
        30.77000046,  29.59000015,  31.37000084,  31.84000015,
        30.35000038,  31.39999962,  31.64999962,  32.74000168,
        34.38999939,  34.56999969,  34.56000137,  35.90999985,
        37.90000153,  36.66999817,  37.77000046,  38.50999832,
        37.20000076,  36.31999969,  38.43000031,  40.16999817,
        39.47000122,  39.90999985,  41.45000076,  38.27999878,
        38.13999939,  37.99000168,  36.90999985,  36.93999863,
        35.36000061,  34.29999924,  34.52000046,  37.74000168,
        37.29999924,  39.74000168,  40.45999908,  42.11999893,
        41.70000076,  40.40000153,  40.88000107,  42.72000122,
        43.18000031,  42.75999832,  41.66999817,  42.52000046,
        46.02999878,  45.97999954,  43.65000153,  43.77000046,
        44.33000183,  43.45000076,  44.68000031,  46.20999908,
        46.63999939,  46.22000122,  48.29000092,  48.11999893,
        48.15999985,  47.66999817,  48.04000092,  49.09999847,
        49.        ,  49.36000061,  49.06999969,  49.13999939,
        49.70999908,  50.36999893,  51.22999954,  50.52000046,
        49.09000015,  48.88999939,  47.91999817,  46.13999939,
        48.        ,  49.40000153,  48.95000076,  49.15999985,
        49.34000015,  45.79999924,  47.93000031,  49.84999847,
        48.27000046,  49.02000046,  46.72999954,  47.36999893,
        45.36999893,  44.72999954,  46.81999969,  44.86999893,
        45.63999939,  45.22999954,  44.63999939,  44.95999908,
        43.95999908,  43.40999985,  42.40000153,  42.15999985,
        41.90000153,  41.13000107,  41.54000092,  40.04999924,
        39.5       ,  40.79999924,  41.91999817,  41.83000183,
        43.06000137,  42.77999878,  41.75      ,  43.50999832,
        44.47000122,  45.72000122,  46.56999969,  46.81000137,
        48.20000076,  46.79999924,  47.54000092,  46.29000092,
        46.97000122,  47.63999939,  43.16999817,  44.38999939,
        44.84999847,  45.47000122,  47.63000107,  45.88000107,
        44.90999985,  43.61999893,  43.84999847,  43.04000092,
        43.34000015,  45.33000183,  46.09999847,  44.36000061,
        45.59999847,  44.65000153,  47.06999969,  48.66999817,
        49.75      ,  49.75999832,  50.72000122,  50.13999939,
        50.47000122,  50.34999847,  49.97000122,  50.29999924,
        51.59000015,  50.31000137,  50.61000061,  50.18000031,
        49.45000076,  48.72000122,  46.83000183,  46.65999985,
        45.31999969,  44.65999985,  45.20000076,  44.61999893,
        43.29000092,  45.86000061,  45.56000137,  45.68999863,
        47.47999954,  48.06999969,  46.72000122,  45.65999985,
        49.40999985,  51.08000183,  51.70000076,  51.72000122,
        50.95000076,  50.84000015,  51.50999832,  51.00999832,
        51.93000031,  52.22000122,  51.43999863,  51.97999954,
        52.00999832,  52.81999969,  54.00999832,  53.79999924,
        53.75      ,  52.36000061,  53.25999832,  53.77000046,
        53.97999954,  50.81999969,  53.00999832,  52.45000076,
        51.38999939,  52.77000046,  52.38000107,  52.13999939,
        53.24000168,  53.18000031,  52.63000107,  52.75      ,
        53.90000153,  53.54999924,  53.81000137,  52.36999893,
        53.84000015,  52.95999908,  53.20999908,  53.11000061,
        53.40999985,  54.02000046,  53.61000061,  54.47999954,
        53.99000168,  54.04000092,  54.        ,  53.81999969,
        53.33000183,  53.18999863,  52.68000031,  49.83000183,
        48.04999924,  47.95000076,  47.24000168,  48.34000015,
        48.29999924,  47.02000046,  47.29000092,  47.        ,
        48.36000061,  49.47000122,  50.54000092,  50.99000168,
        51.13999939,  51.68999863,  52.25      ,  53.06000137,
        53.38000107,  53.11999893,  52.61999893,  52.45999908,
        50.49000168,  50.25999832,  49.63999939,  48.90000153,
        49.22000122,  48.95999908,  49.31000137,  46.22999954,
        46.45999908,  47.27999878,  47.81000137,  47.83000183,
        48.86000061,  48.63999939,  49.04000092,  50.31999969,
        50.81000137,  48.56999969,  49.58000183,  49.63000107,
        48.31999969,  47.68000031,  48.13000107,  45.68000031,
        45.81999969,  46.40999985,  44.79000092,  44.24000168,
        42.47999954,  42.52999878,  42.86000061,  43.24000168,
        44.25      ,  44.74000168,  45.11000061,  45.52000046,
        45.47999954,  46.52999878,  46.40000153,  47.09999847,
        45.77999878,  47.77000046,  48.58000183,  49.04999924,
        49.72000122,  50.20999908,  49.18999863,  49.59999847,
        49.02999878,  49.56999969,  49.36999893,  48.54000092,
        48.81000137,  47.59000015,  47.56999969,  48.59000015,
        47.38999939,  45.95999908,  47.25999832])

In [38]:
# Replace nan value with np.nan
oil.replace('nan', np.nan, inplace=True)

In [39]:
# Fill null values with forward fill
oil = oil.fillna(method = 'ffill')

In [40]:
oil.isna().sum()

date          0
dcoilwtico    1
dtype: int64

In [41]:
oil.head()

        date  dcoilwtico
0 2013-01-01         NaN
1 2013-01-02   93.139999
2 2013-01-03   92.970001
3 2013-01-04   93.120003
4 2013-01-07   93.199997

In [42]:
# single missing value is at the start of the dataframe so fill with backward fill 
oil = oil.fillna(method = 'bfill')

In [43]:
oil.isna().sum()

date          0
dcoilwtico    0
dtype: int64

In [44]:
stores.isna().sum()

store_nbr    0
city         0
state        0
type         0
cluster      0
dtype: int64

In [45]:
test.isna().sum()

id             0
date           0
store_nbr      0
family         0
onpromotion    0
dtype: int64

### Make Date the index in dataframes

In [46]:
# train dataframe 
train.set_index('date', inplace=True)

In [47]:
train.head(2)

            id  store_nbr      family  sales  onpromotion
date
2013-01-01   0          1  AUTOMOTIVE    0.0            0
2013-01-01   1          1   BABY CARE    0.0            0

In [48]:
# transactions dataframe 
transactions.set_index('date', inplace=True)

In [49]:
transactions.head(2)

            store_nbr  transactions
date
2013-01-01         25           770
2013-01-02          1          2111

In [50]:
# holiday dataframe 
holiday.set_index('date', inplace=True)

In [51]:
holiday.head(2)

,type,locale,locale_name,description,transferred
date,,,,,
2012-03-02,Holiday,Local,Manta,Fundacion de Manta,False
2012-04-01,Holiday,Regional,Cotopaxi,Provincializacion de Cotopaxi,False

In [52]:
# oil dataframe 
oil.set_index('date', inplace=True)

In [53]:
oil.head(2)

            dcoilwtico
date
2013-01-01   93.139999
2013-01-02   93.139999

In [54]:
# test dataframe 
test.set_index('date', inplace=True)

In [55]:
test.head(2)

                 id  store_nbr      family  onpromotion
date
2017-08-16  3000888          1  AUTOMOTIVE            0
2017-08-16  3000889          1   BABY CARE            0

### Merge the dataframes

In [ ]:
# Merge the train and transactions dataframes based on the date and store number columns
merged = pd.merge(train, transactions, on=['date', 'store_nbr'])

In [ ]:
merged.head()

In [ ]:
# Merge the merged dataframe with the holiday dataframe based on the date column
merged = pd.merge(merged, holiday, on='date')

In [ ]:
merged.head()

In [ ]:
# Merge the merged data with the oil dataframe on the date column
merged = pd.merge(merged, oil, on='date')

In [ ]:
merged.head()

- The date column has been set us the index of the merged dataframe
- This means it will be lost when merged with the stores dataframe on the store_nbr column
- To solve this the index has to be reset

In [ ]:
# Reset index
merged.reset_index(inplace=True)

In [ ]:
merged.info()

In [ ]:
# Merge the merged data with the stores dataframe on the stores number column
train = pd.merge(merged, stores, on='store_nbr')

In [ ]:
train.head()

In [ ]:
train.tail()

In [ ]:
train.shape

### Rename columns to aid understanding
Some column names may not clearly describe the data in them so they need to be renamed

In [ ]:
train.info()

In [ ]:
train.head()

- Change type_x column name to holiday_type to reflect what it is in the Holiday dataframe 
- Change 'dcoilwtico' column name to reflect what it represents ie. oil price 
- Change type_y column name to store_type to reflect what it represents in the stores dataframe

In [ ]:
# Changing column names
train = train.rename(columns= {'type_x': 'holiday_type', 'dcoilwtico': 'oil_price', 'type_y':'store_type' })

In [ ]:
# Confirm the change 
train.columns

### Preparing data in Merged Dataframe

In [ ]:
# Checking for missing values 
train.isnull().sum()

In [ ]:
# Checking for duplicates 
train.duplicated().sum()

In [ ]:
# Get summary of numerical values
train.describe()

### Questions

#### 1. How are the clusters performing against each other?

In [ ]:
train['cluster'].unique()

In [ ]:
# Show the sales per cluster
cluster_sales = train.groupby('cluster')['sales'].sum().reset_index()
cluster_sales

In [ ]:
# Plot the sales per Cluster

# Setting figure size
fig, ax = plt.subplots(figsize=(10, 10))

sns.barplot(x='cluster', y='sales', data=cluster_sales, ax=ax)
ax.set_xlabel('Cluster')
ax.set_ylabel('Total Sales')
ax.set_title('Total Sales per Cluster')


# Converting y-axis values to full figures
ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{int(x):,}'))


plt.show()

From the plot above we can tell that Cluster 14 is the highest performing cluster and Cluster 16 is the worst performing in terms of sum of sales

#### 2. What family brings in the most money across all stores?

In [ ]:
# Finding the unique families
train['family'].unique()

In [ ]:
# Find the sales per family
family_sales = train.groupby('family')['sales'].sum().reset_index()
family_sales

In [ ]:
# Plot the sales per family

# Setting figure size
fig, ax = plt.subplots(figsize=(10, 10))

sns.barplot(x='sales', y='family', data=family_sales, ax=ax)
ax.set_xlabel('Total Sales')
ax.set_ylabel('Family')
ax.set_title('Total Sales per Family')
plt.xticks(rotation=45)

# Converting x-axis values to full figures
ax.xaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{int(x):,}'))


plt.show()

From the plot above we can tell that GROCERY I is the highest selling 'family' out of the 33 'families'

#### 3. Which locales are the busiest in terms of transactions?

In [ ]:
# Find unique locales
train['locale_name'].unique()

In [ ]:
# Group transactions by the unique locale_names
locale_trans = train.groupby('locale_name')['transactions'].sum().reset_index()
locale_trans

In [ ]:
# Plotting the locale names against the number of transactions 
fig, ax = plt.subplots(figsize=(12, 6))
sns.barplot(x='locale_name', y='transactions', data=locale_trans, ax=ax)
ax.set_xlabel('Locale Name')
ax.set_ylabel('Transactions')
ax.set_title('Transactions per Locale')

# Rotate x-axis labels
plt.xticks(rotation=70)

# Converting y-axis values to full figures
ax.yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{int(x):,}'))

plt.show()

From the above graph we can tell that the locale_name 'Ecuador' had the most transactions

### 4. In which year did most of the transactions happen?

In [ ]:
# Create array to store years from date column
train['Year'] = train['date'].dt.year
train['Year'].unique()

In [ ]:
# Group transactions by the years
transactions_per_year = train.groupby('Year')['transactions'].count()
transactions_per_year

In [ ]:
plt.figure(figsize=(8, 8))  # Set the figure size if needed
sns.set(style="whitegrid")

plt.pie(transactions_per_year, labels=transactions_per_year.index, autopct='%1.1f%%')
plt.title('Distribution of Transactions per Year')

plt.show()

From the graph above we can tell that the year 2016 had the most transactions in the dataset

#### 5. How have sales been over the years?

In [ ]:
# Create array to store years from date column
train['Year'] = train['date'].dt.year
train['Year'].unique()

In [ ]:
# Group sales by the years
sales_per_year = train.groupby('Year')['sales'].sum().reset_index()
sales_per_year

In [ ]:
# Plotting Sales per year
plt.figure(figsize=(10, 6))
sns.lineplot(x='Year', y='sales', data=sales_per_year, marker='o')
plt.xlabel('Year')
plt.ylabel('Sales')
plt.title('Sales per Year')

# Removing grid lines
plt.grid(False)

# Changing x-axis values to integers
plt.xticks(sales_per_year['Year'], sales_per_year['Year'].astype(int))

# Converting y-axis values to full figures
plt.gca().yaxis.set_major_formatter(ticker.FuncFormatter(lambda x, pos: f'{int(x):,}'))

plt.show()

#### 6. What are the dates of the top 10 sales?

In [ ]:
# Finding the top 10 sales
top_10_sales = train.nlargest(10, 'sales')
top_10_sales

In [ ]:
# Plotting the top 10 sales dates
plt.figure(figsize=(10, 6))
sns.lineplot(x='date', y='sales', data=top_10_sales, marker='o')

plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Dates of Top 10 Sales')
plt.xticks(rotation=45)

plt.grid(False)
plt.show()

#### 7. What were the dates of the highest sales for each year?

In [ ]:
# Finding the highest sales per each year 
highest_sales_per_year = train.groupby(train['date'].dt.year).apply(lambda x: x.loc[x['sales'].idxmax()])
highest_sales_per_year

In [ ]:
# Finding the highest dates of the highest sales per each year
highest_sales_date_per_year = highest_sales_per_year[['date', 'sales']].reset_index(drop=True)
highest_sales_date_per_year

In [ ]:
# Plotting the highest sales dates per year

plt.figure(figsize=(10, 6))
sns.barplot(x='date', y='sales', data=highest_sales_date_per_year)
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Highest Sales Dates per Year')

plt.xticks(rotation=45)

plt.show()

#### 8. How many transactions happen in the christmas period(20th - 31st December) each year?

In [ ]:
# Finding the number of transactions per christmas period
christmas_transactions = train[train['date'].dt.day.between(20, 31) & train['date'].dt.month.eq(12)].groupby(train['date'].dt.year)['transactions'].count()
christmas_transactions

In [ ]:
x_values = np.arange(len(christmas_transactions))
plt.figure(figsize=(10, 6))
plt.plot(x_values, christmas_transactions.values, marker='o', linestyle='-')
plt.xlabel('Year')
plt.ylabel('Transactions')
plt.title('Transactions per Christmas Period')

# Set x-ticks and labels
plt.xticks(x_values, christmas_transactions.index.astype(int))

# Remove grid lines
plt.grid(False)

plt.show()

### Hypothesis Testing

In [ ]:
# Finding the correlation between the sales and oil price
correlation = train['sales'].corr(train['oil_price'])

correlation

In [ ]:
# Plotting a Correlation Matrix
columns_to_analyze = ['sales', 'oil_price']
correlation_matrix = train[columns_to_analyze].corr()

# Plotting the correlation matrix
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', square=True)
plt.title('Correlation Matrix')

plt.show()

There is a weak negative correlation between oil prices and sales which means oil prices do not have a significant effect on sales

#### This means we accept the Null Hypothesis that oil prices do not have an effect on sales

## Modeling

### Feature Engineering

#### Drop the unnecessary columns 
Drop id, locale, locale_name, description, transferred, state, store_type columns

In [ ]:
train = train.drop(columns = ['id', 'locale','locale_name','description','transferred','state','store_type','Year'], axis=1)

In [ ]:
train.columns

In [ ]:
time_data = train

In [ ]:
time_data.head()

#### Standardization

In [ ]:
# create an instance of StandardScaler
scaler = StandardScaler()

# select numerical columns
num_cols = ['sales', 'transactions', 'oil_price']

# fit and transform the numerical columns
time_data[num_cols] = scaler.fit_transform(time_data[num_cols])

#### Feature Encoding

In [ ]:
time_data.info()

In [ ]:
# Select the categorical columns
categorical_columns = ["family", "city", "holiday_type"]
categorical_data = time_data[categorical_columns]

# Initialize the OneHotEncoder
encoder = OneHotEncoder()

# Fit and transform the data to one hot encoding
one_hot_encoded_data = encoder.fit_transform(categorical_data)

# Get the categories for each column
categories = [encoder.categories_[i] for i in range(len(encoder.categories_))]

# Create the column names for the one hot encoded data
column_names = []
for i in range(len(categories)):
    for j in range(len(categories[i])):
        column_names.append(f'{categorical_columns[i]}_{categories[i][j]}')

# Convert the one hot encoding data to a DataFrame
one_hot_encoded_data = pd.DataFrame(one_hot_encoded_data.toarray(), columns=column_names)


# Reset the index of both dataframes
time_data = time_data.reset_index(drop=True)
one_hot_encoded_data = one_hot_encoded_data.reset_index(drop=True)

# Concatenate the original dataframe with the one hot encoded data
time_data_encoded = pd.concat([time_data, one_hot_encoded_data], axis=1)

# Drop the original categorical columns
time_data_encoded.drop(categorical_columns, axis=1, inplace=True)

In [ ]:
time_data_encoded.head()

In [ ]:
time_data_encoded = time_data_encoded.drop(columns = 'date', axis=1)

In [ ]:
time_data_encoded.head()

##### Split data

In [ ]:
# Create the feature dataframe using the selected columns
X = time_data_encoded.drop(["sales"], axis=1)

# Get the target variable
y = time_data_encoded.sales

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#### Decision Tree Regression Model

In [ ]:
# Decision Tree Regression Model
dt = DecisionTreeRegressor()
dt.fit(X_train, y_train)

In [ ]:
# Make prediction on X_test
dt_predictions = dt.predict(X_test)
dt_predictions

In [ ]:
plt.scatter(y_test, dt_predictions)
plt.xlabel("True Values")
plt.ylabel("Predictions")
plt.title("Decision Tree Regression")
plt.grid(False)
plt.show()

In [ ]:
# Evaluation Metrics for Decision Tree Regression
dt_mse = mean_squared_error(y_test, dt_predictions).round(2)
dt_rmse = np.sqrt(dt_mse).round(2)

In [ ]:
# Print the evaluation results for Decision Tree Regression model
print("\nEvaluation Results for Decision Tree Regression:")
print("MSE:", dt_mse)
print("RMSE:", dt_rmse)

#### Linear Regression

In [ ]:
# Linear Regression Model
lr = LinearRegression()
lr.fit(X_train, y_train)

In [ ]:
# Make prediction on X_test
lr_predictions = lr.predict(X_test)

In [ ]:
plt.scatter(y_test, lr_predictions)
plt.xlabel("True Values")
plt.ylabel("Predictions")
plt.title("Linear Regression")
plt.grid(False)
plt.show()

In [ ]:
# Evaluation Metrics for Linear Regression
lr_mse = mean_squared_error(y_test, lr_predictions).round(2)
lr_rmse = np.sqrt(lr_mse).round(2)

In [ ]:
# Print the evaluation results for Linear Regression model
print("\nEvaluation Results for Linear Regression:")
print("MSE:", lr_mse)
print("RMSE:", lr_rmse)

#### Random Forest Regression Model

In [ ]:
# Random Forest Regression Model
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

In [ ]:
# Make prediction on X_test
rf_predictions = rf.predict(X_test)

In [ ]:
plt.scatter(y_test, rf_predictions)
plt.xlabel("True Values")
plt.ylabel("Predictions")
plt.title("Random Forest Regression")
plt.grid(False)
plt.show()

In [ ]:
# Evaluation Metrics for Random Forest Regression
rf_mse = mean_squared_error(y_test, rf_predictions).round(2)
rf_rmse = np.sqrt(rf_mse).round(2)

In [ ]:
# Print the evaluation results for Random Forest Regrression model
print("\nEvaluation Results for Random Forest:")
print("MSE:", rf_mse)
print("RMSE:", rf_rmse)